* {
    margin: 0;
    padding: 0;
    font-family: Arial Narrow, sans-serif;
    color: white;
}

body {
    background-color: rgb(33, 38, 44);
}

a {
    text-decoration: none;
    text-align: center;

}

a:hover{
    text-decoration: underline;
}

.page {
    display: grid;
    grid-template-areas: "header header" "aside main"
    "footer footer";
    grid-template-columns: 150px 1fr;
}

.header {
   background-color: black;
   color: white;
   grid-area: header;
   position: fixed;
   width: 100%;
}

.header__logo {
    font-size: 30px;
    font-weight: bold;
    color: red;
    padding: 10px 15px;
    max-width: 150px;
}

.header__buton {
    font-size: 20px;
    cursor: pointer;
    padding: 10px 10px 10px 10px;

}

.header__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__buton:hover{
    background-color: rgb(0, 0, 179);
    border-radius: 7px;
}

.header__exit {
    font-size: 30px;
    font-weight: bold;
    color: blue;
    padding: 10px 15px;
    max-width: 150px;
}

.main {
    grid-area: main;
    display: block;
    background-color: #667292;
    margin-top: 75px;
    color: black;
}

.data {
    text-decoration:underline;
}

.info {
    margin: auto;
    text-align: center; 
    margin-top: 25px;
}

.text {
    margin-top: 25px;
    padding: 10px 10px 10px 10px;
}

.aside {
    grid-area: aside;
    background-color: rgb(49, 57, 66);
    margin-top: 75px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-align: center;
}

.footer {
    grid-area: footer;
    display: block;
    background-color: rgb(33, 38, 44);
    text-align: center;   
}

.row {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
}

footer {
    background-color: rgb(33, 38, 44);
    display: flex;
}

.footer_name {
    margin-top: 15px;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.row > .form__grup {
    width: 50%;
    margin-right: 20px;
}

.form__grup input,
.form__grup textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgb(27, 27, 27);
    background: transparent;
    outline: black;
    padding: 15px 0 10px;
    font-family: inherit;
}

.button {
    padding: 15px 20px;
    border: none;
    color: black;
    margin-top: 10px;
}

.aside__list {
    list-style: none;
    display: block;
    border: 2px black;
}

.work-list {
    display: block;
    border: 2px black;
    margin-top: 20px;
    padding: 6px 6px 6px 6px;
}

.work-list:hover{
    background-color: rgb(0, 0, 179);
    border-radius: 7px;
}