* {
    margin: 0;
    padding: 0;
}

a {
    color:white;
    text-decoration: none;
    text-align: center;
}

a:hover{
    text-decoration: underline;
}

.page {
    display: grid;
    grid-template-areas: "header header" "aside main"
    "footer footer";
    grid-template-columns: 100px 1fr;
}

.header {
   background-color: black;
   color: white;
   font-family: Comic Sans MS, Comic Sans, cursive;
   grid-area: header;
   position: fixed;
   width: 100%;
}

.header__logo {
    font-size: 30px;
    font-weight: bold;
    color: red;
    padding: 10px 15px;
    max-width: 150px;
}

.header__buton {
    font-size: 20px;
    cursor: pointer;
    padding: 10px 10px 10px 10px;

}

.header__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__buton:hover{
    background-color: rgb(0, 0, 179);
    border-radius: 7px;
}

.header__exit {
    font-size: 30px;
    font-weight: bold;
    color: blue;
    padding: 10px 15px;
    max-width: 150px;
}

.main {
    grid-area: main;
    display: block;
    background-color: aquamarine;
    margin-top: 80px;
}

.info {
    text-align: center;
}

.aside {
    grid-area: aside;
    display: block;
    background-color: bisque;
    margin-top: 80px;

}

.footer {
    grid-area: footer;
    display: block;
    background-color: cadetblue;
    text-align: center;   
}

.row {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
}

.row > .form-grup {
    width: 50%;
    margin-right: 20px;
 

}

footer {
    background-color: rgba(33, 38, 44, 50%);
    display: flex;
}